@media only screen and (max-width: 1020px) {
    .front-section {
        display: grid;
        gap: 60px;
    }
    .navbar {
        top: -30px;
    }
    .navbar nav {   
        display: grid;
        justify-content: center;
        gap: 10px;
    }
    .logo {
        width: 115%;
        text-align: center;
    }
    .search-box {
        justify-content: right;
    }
    .search-box #search-input {
        display: none;
    }
    .search-box input::placeholder {
        color: transparent;
    }
    .search-box .win-full-i {
        position: relative;
        top: -52px;
        right: -46px;
        background-color: #3D3E42;
        padding: 10px 12px;
        border-radius: 50%;
    }
    .search-cover-show {
        display: block !important;
    }
    nav span {
        display: flex;
    }
    .search-btn-hide {
        display: none;
    }
    .search-close-btn {
        display: block;
    }

    .header-center {
        flex-direction: column;
    }
    .header-center .front-details {
        width: 100%;
        justify-items: center;
        padding: 0;
        z-index: 2;
    }
    .front-details .sp-name {
        display: flex;
        gap: 0;
    }
    .sp-name h1 {
        font-size: 8vmin;
    }
    .sp-name h2 {
        font-size: 4vmin;
    }
    .front-details .sp-profession h2 {
        font-size: 4.5vmin;
    }
    .contact-me-btn a{
        font-size: 4vmin;
    }
    .my-pic {
        top: 44px;
        width: auto;
        text-align: center;
        height: fit-content;
    }
    .my-pic img {
        width: 85%;
    }

    .about-sec {
        width: 90%;
    }
    .about-span {
        display: grid;
    }

    .skills-box {
        width: 20vmin;
        height: 20vmin;
    }

    .project-body {
        width: auto ;
    }
}

@media only screen and (max-width: 720px) {
    .pr-mid-line {
        display: none;
    }
}

@media only screen and (max-width: 650px) {
    .logo {
        width: 100%;
    }
    .search-box .win-full-i {
        top: 0;
        right: 0;
    }
    .search-box {
        display: none;
    }
    .p-section {
        padding: 40px 40px;
    }
    .social-icons {
        display: none;
    }
    .skills-box p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 570px) {
    .pr {
        flex-direction: column;
    }

    .c-links .div {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 460px) {
    .skills-grid-view .skills-row {
        display: grid;
        gap: 14px;
        grid-template-columns: auto auto;
    }
    .skills-box {
        gap: 8px;
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 400px) {
    .navbar nav {
        display: flex;
    }
    nav ul {
        position: fixed;
        top: 0;
        gap: 25px;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.733);
        backdrop-filter: blur(10px);
        flex-direction: column;
        z-index: 2;
        transition: 0.2s all;
    }
    .menu-bar {
        display: block;
    }

    .contact-me-btn a {
        padding: 10px 20px;
        border: 3px solid var(--font-color);
    }

    .about-sec h1 {
        text-align: center;
        font-size: 30px;
    }
    .h-line {
        justify-self: center;
    }
    .skills-sec h1 {
        font-size: 30px;
    }

    .c-links .contact {
        display: grid;
        gap: 5px;
        padding: 14px 16px;
        text-align: center;
    }
    .contact i {
        font-size: 18px;
    }
    .contact p {
        font-size: 16px;
    }
}