@media only screen and (max-width: 1020px) {
    .front-section {
        display: grid;
        gap: 60px;
    }
    .navbar nav {   
        display: grid;
        justify-content: center;
        gap: 10px;
    }
    .logo {
        width: 115%;
        text-align: center;
    }
    .search-box {
        justify-content: right;
    }
    .search-box #search-input {
        display: none;
    }
    .search-box input::placeholder {
        color: transparent;
    }
    .search-box .win-full-i {
        position: relative;
        top: -52px;
        right: -46px;
        background-color: #3D3E42;
        padding: 10px 12px;
        border-radius: 50%;
    }
    nav span {
        display: flex;
    }
    .search-btn-hide {
        display: none;
    }
    .fa-xmark {
        display: block;
    }

    .header-center {
        flex-direction: column;
    }
    .header-center .front-details {
        width: 100%;
        justify-items: center;
        padding: 0;
    }
    .front-details .sp-name {
        display: flex;
        gap: 0;
    }
    .sp-name h1 {
        font-size: 8vmin;
    }
    .sp-name h2 {
        font-size: 4vmin;
    }
    .front-details .sp-profession h2 {
        font-size: 4.5vmin;
    }
    .contact-me-btn a{
        font-size: 4vmin;
    }
    .my-pic {
        top: 44px;
        width: auto;
        text-align: center;
        height: fit-content;
    }
    .my-pic img {
        width: 85%;
    }

    
    .about-sec {
        width: fit-content;
    }
    .about-span {
        display: grid;
    }
}

@media only screen and (max-width: 650px) {
    .logo {
        width: 100%;
    }
    .search-box .win-full-i {
        top: 0;
        right: 0;
    }
    .search-box {
        display: none;
    }
    .p-section {
        padding: 40px 40px;
    }
    .social-icons {
        display: none;
    }
}